# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Type checking
.mypy_cache/

# Linting
.ruff_cache/

# Testing
.pytest_cache/
htmlcov/
.coverage

# Environment variables
.env

# Temporary files (наша папка для скачанных аудио)
temp/
downloads/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# uv
.python-version